### Задание 1

In [8]:
import pandas as pd

Считать данные с помощью pandas
Вывести на экран первые 5 строк

In [9]:
file_path = "C:\Dev\GB\JupiterN\kc_house_data.csv"
data = pd.read_csv(file_path)

print(data.head())

           id             date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000  221900.0         3       1.00         1180
1  6414100192  20141209T000000  538000.0         3       2.25         2570
2  5631500400  20150225T000000  180000.0         2       1.00          770
3  2487200875  20141209T000000  604000.0         4       3.00         1960
4  1954400510  20150218T000000  510000.0         3       2.00         1680

   sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
0      5650     1.0           0     0  ...      7      1180.0              0
1      7242     2.0           0     0  ...      7      2170.0            400
2     10000     1.0           0     0  ...      6       770.0              0
3      5000     1.0           0     0  ...      7      1050.0            910
4      8080     1.0           0     0  ...      8      1680.0              0

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257           1340
1      1951          1991    98125  47.7210 -122.319           1690
2      1933             0    98028  47.7379 -122.233           2720
3      1965             0    98136  47.5208 -122.393           1360
4      1987             0    98074  47.6168 -122.045           1800

   sqft_lot15
0        5650
1        7639
2        8062
3        5000
4        7503

[5 rows x 21 columns]

1.1 Создать новый признак price_per_sq_lot,
который будет содержать среднюю стоимость за
один кв. метр общей площади

In [10]:
data['price_per_sq_lot'] = data['price'] / data['sqft_lot']

1.2 Создать новый признак delta_renovated,
который будет содержать разницу в годах между
годом реновацией дома и годом постройки дома
Если реновации дома не было, то в новом признаке поставьте 0

In [11]:
data['date'] = pd.to_datetime(data['date'])
data['yr_renovated'] = data['yr_renovated'].fillna(0).astype(int)
data['delta_renovated'] = data['date'].dt.year - data['yr_built']
data.loc[data['yr_renovated'] > 0, 'delta_renovated'] = data['date'].dt.year - data['yr_renovated']

1.3 Создайте признаки года продажи, месяца продажи

In [12]:
data['year_sold'] = data['date'].dt.year
data['month_sold'] = data['date'].dt.month

1.4 Удалите признаки date, zipcode, lat, long

In [13]:
data.drop(['date', 'zipcode', 'lat', 'long'], axis=1, inplace=True)

In [14]:
print(data.head())

           id     price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  \
0  7129300520  221900.0         3       1.00         1180      5650     1.0
1  6414100192  538000.0         3       2.25         2570      7242     2.0
2  5631500400  180000.0         2       1.00          770     10000     1.0
3  2487200875  604000.0         4       3.00         1960      5000     1.0
4  1954400510  510000.0         3       2.00         1680      8080     1.0

   waterfront  view  condition  ...  sqft_above  sqft_basement  yr_built  \
0           0     0          3  ...      1180.0              0      1955
1           0     0          3  ...      2170.0            400      1951
2           0     0          3  ...       770.0              0      1933
3           0     0          5  ...      1050.0            910      1965
4           0     0          3  ...      1680.0              0      1987

   yr_renovated  sqft_living15  sqft_lot15  price_per_sq_lot  delta_renovated  \
0             0           1340        5650         39.274336               59
1          1991           1690        7639         74.288870               23
2             0           2720        8062         18.000000               82
3             0           1360        5000        120.800000               49
4             0           1800        7503         63.118812               28

   year_sold  month_sold
0       2014          10
1       2014          12
2       2015           2
3       2014          12
4       2015           2

[5 rows x 21 columns]

### Задание 2

Создайте датафрейм с клиентами:
clients = pd.DataFrame({
 'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295, 939, 3840, 280, 20, 4332, 3475, 4213, 3113,
4809, 2134, 2242, 2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
 'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060, 1189000207, 6821600300, 7137950720,
9510920050, 6131600255, 5428000070, 1788800910, 8100400160, 3123049142, 6306800010, 5083000375, 7920100025,
1951600150, 809001400, 339600110, 1622049154, 1099600250, 8563000110, 2768100205, 3995700435, 8861700030,
3303980210, 7731100066, 8146100580, 825069097, 3889100029, 9524100196]
})
house_id - это индексы датафрейма с домами

In [15]:
clients = pd.DataFrame({
    'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295, 939, 3840, 280, 20, 4332, 3475, 4213, 3113,
                  4809, 2134, 2242, 2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
    'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060, 1189000207, 6821600300, 7137950720,
                 9510920050, 6131600255, 5428000070, 1788800910, 8100400160, 3123049142, 6306800010, 5083000375, 7920100025,
                 1951600150, 809001400, 339600110, 1622049154, 1099600250, 8563000110, 2768100205, 3995700435, 8861700030,
                 3303980210, 7731100066, 8146100580, 825069097, 3889100029, 9524100196]
})

In [16]:
houses = pd.DataFrame({
    'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060, 1189000207, 6821600300, 7137950720,
                 9510920050, 6131600255, 5428000070, 1788800910, 8100400160, 3123049142, 6306800010, 5083000375, 7920100025,
                 1951600150, 809001400, 339600110, 1622049154, 1099600250, 8563000110, 2768100205, 3995700435, 8861700030,
                 3303980210, 7731100066, 8146100580, 825069097, 3889100029, 9524100196],
    'house_info': ['info1', 'info2', 'info3', 'info4', 'info5', 'info6', 'info7', 'info8', 'info9', 'info10', 'info11', 'info12',
                   'info13', 'info14', 'info15', 'info16', 'info17', 'info18', 'info19', 'info20', 'info21', 'info22', 'info23',
                   'info24', 'info25', 'info26', 'info27', 'info28', 'info29', 'info30', 'info31', 'info32']
})

2.1 Присоедините к таблице clients данные по домам через метод join

In [17]:
clients_joined = clients.join(houses.set_index('house_id'), on='house_id')

2.2 Присоедините к таблице clients данные по домам через метод merge

In [18]:
clients_merged = clients.merge(houses, on='house_id')

In [19]:
print("Joined DataFrame:")
print(clients_joined)

Joined DataFrame:
    client_id    house_id house_info
0        1459  8965450190      info1
1        4684  6823100225      info2
2        3498  5104540330      info3
3        3942  2131701075      info4
4        4535  1522700060      info5
5        2308  1189000207      info6
6        2866  6821600300      info7
7        2765  7137950720      info8
8        1472  9510920050      info9
9        4236  6131600255     info10
10       2295  5428000070     info11
11        939  1788800910     info12
12       3840  8100400160     info13
13        280  3123049142     info14
14         20  6306800010     info15
15       4332  5083000375     info16
16       3475  7920100025     info17
17       4213  1951600150     info18
18       3113   809001400     info19
19       4809   339600110     info20
20       2134  1622049154     info21
21       2242  1099600250     info22
22       2068  8563000110     info23
23       4929  2768100205     info24
24       1384  3995700435     info25
25       1589  8861700030     info26
26       3317  3303980210     info27
27       2260  7731100066     info28
28       1727  8146100580     info29
29       1764   825069097     info30
30       1611  3889100029     info31
31       1474  9524100196     info32

In [20]:
print("\nMerged DataFrame:")
print(clients_merged)

Merged DataFrame:
    client_id    house_id house_info
0        1459  8965450190      info1
1        4684  6823100225      info2
2        3498  5104540330      info3
3        3942  2131701075      info4
4        4535  1522700060      info5
5        2308  1189000207      info6
6        2866  6821600300      info7
7        2765  7137950720      info8
8        1472  9510920050      info9
9        4236  6131600255     info10
10       2295  5428000070     info11
11        939  1788800910     info12
12       3840  8100400160     info13
13        280  3123049142     info14
14         20  6306800010     info15
15       4332  5083000375     info16
16       3475  7920100025     info17
17       4213  1951600150     info18
18       3113   809001400     info19
19       4809   339600110     info20
20       2134  1622049154     info21
21       2242  1099600250     info22
22       2068  8563000110     info23
23       4929  2768100205     info24
24       1384  3995700435     info25
25       1589  8861700030     info26
26       3317  3303980210     info27
27       2260  7731100066     info28
28       1727  8146100580     info29
29       1764   825069097     info30
30       1611  3889100029     info31
31       1474  9524100196     info32

### Задание 3

Составьте несколько сводных таблиц

3.1 Найдите среднюю стоимость домов в
зависимости от количества спален

In [21]:
average_price_per_bedrooms = data.groupby('bedrooms')['price'].mean().sort_values()

3.2 Найдите минимальную, среднюю и
максимальную стоимости домов в зависимости от
состояния дома

In [22]:
price_by_condition = data.groupby('condition')['price'].agg(['min', 'mean', 'max'])

3.3 Постройте таблицу с подсчетом количества
домов в данных в зависимости от вида на
набережную и оценкой вида

In [23]:
count_by_waterfront_view = data.pivot_table(index='waterfront', columns='view', values='id', aggfunc='count')

3.4 Каких домов в зависимости от этажности и
количества спален больше?

In [24]:
most_common_types = data.groupby(['floors', 'bedrooms']).size().sort_values(ascending=False)

3.5 Постройте таблицу с подсчетом медианной
стоимости домов в данных в зависимости от
состояния дома и оценки дома

In [25]:
median_price_by_condition_view = data.groupby(['condition', 'view'])['price'].median().unstack()

Вывод результатов:

In [26]:
print("3.1 Average Price per Bedrooms:")
print(average_price_per_bedrooms)

3.1 Average Price per Bedrooms:
bedrooms
1     3.176429e+05
2     4.013727e+05
0     4.095038e+05
3     4.662321e+05
11    5.200000e+05
4     6.354195e+05
33    6.400000e+05
5     7.865998e+05
10    8.193333e+05
6     8.255206e+05
9     8.939998e+05
7     9.511847e+05
8     1.105077e+06
Name: price, dtype: float64

In [27]:
print("\n3.2 Price by Condition:")
print(price_by_condition)

3.2 Price by Condition:
                min           mean        max
condition
1           78000.0  334431.666667  1500000.0
2           80000.0  327287.145349  2555000.0
3           75000.0  542012.578148  7062500.0
4           89000.0  521200.390033  7700000.0
5          110000.0  612418.089359  3650000.0

In [28]:
print("\n3.3 Count by Waterfront View:")
print(count_by_waterfront_view)

3.3 Count by Waterfront View:
view              0      1      2      3      4
waterfront
0           19489.0  331.0  955.0  491.0  184.0
1               NaN    1.0    8.0   19.0  135.0

In [29]:
print("\n3.4 Most Common Types of Houses:")
print(most_common_types)

3.4 Most Common Types of Houses:
floors  bedrooms
1.0     3           5455
2.0     4           3682
        3           3118
1.0     4           2383
        2           1951
1.5     3            786
2.0     5            775
1.5     4            698
1.0     5            605
2.0     2            497
3.0     3            405
1.5     5            185
        2            182
1.0     1            162
3.0     2            123
2.0     6            119
1.0     6            104
3.0     4             61
2.5     4             58
        3             56
1.5     6             30
2.5     5             23
1.5     1             21
2.0     7             19
2.5     6             14
3.0     5             13
2.0     1             12
1.0     7              9
1.5     7              7
2.0     0              6
        8              6
3.0     6              5
1.0     8              5
2.5     2              5
3.5     3              4
1.0     0              4
2.0     9              4
3.0     1              3
2.5     7              2
        9              2
3.0     0              2
2.0     10             2
3.5     2              2
2.5     1              1
2.0     11             1
1.5     8              1
1.0     33             1
3.0     7              1
3.5     0              1
1.0     10             1
3.5     8              1
dtype: int64

In [30]:
print("\n3.5 Median Price by Condition and View:")
print(median_price_by_condition_view)

3.5 Median Price by Condition and View:
view              0         1         2          3          4
condition
1          255000.0  295000.0       NaN        NaN   455000.0
2          272405.0  800000.0  375000.0   384065.0        NaN
3          436000.0  700000.0  675000.0   805000.0  1187500.0
4          419000.0  665900.0  647475.0   790000.0  1088890.0
5          487500.0  716250.0  774975.0  1050000.0  1411600.0